fastapi
uvicorn[standard]
python-multipart
pydantic
python-dotenv

langchain-core
langchain-text-splitters
langchain-google-genai
langchain-chroma==0.2.6
chromadb==1.0.21
sentence-transformers==3.3.1
torch==2.5.1

pypdf
python-docx

streamlit
requests
