fastapi
uvicorn[standard]
python-multipart
pydantic
python-dotenv

langchain-core
langchain-text-splitters
langchain-google-genai
langchain-chroma==0.2.6
chromadb==1.0.21

google-generativeai

pypdf
python-docx

reportlab